extends layout

block append head
    title Adicionar Registo

block content
    .w3-card-4
        header.w3-container.w3-purple
            .w3-bar.w3-border-bottom
                .w3-bar-item
                    h3 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
                a.w3-bar-item.w3-button(href="/home" style="position:relative; top:5px;")
                    .w3-cell-row
                        .w3-cell
                            i.fa.fa-solid.fa-house(style="color: #000000;")
                        .w3-cell(style="width:80%")
                            h6 #[b Início]
                a.w3-bar-item.w3-button(href="/retrieveAll" style="position:relative; top:5px;")
                    .w3-cell-row
                        .w3-cell
                            i.fa.fa-solid.fa-folder-open(style="color: #000000;")
                        .w3-cell(style="width:84%")
                            h6 #[b Registos]
                if type == "Admin"
                    a.w3-bar-item.w3-button(href="/processos/registo" style="position:relative; top:5px;")
                        .w3-cell-row
                            .w3-cell
                                i.fa.fa-solid.fa-file-circle-plus(style="color: #000000;")
                            .w3-cell(style="width:84%")
                                h6 &nbsp; #[b Adicionar Registo]
                input.w3-bar-item.w3-input.w3-border(type="text" id="pesquisa_rapida" name="quickSearch" style="position:relative; left:10px; top:15px;" placeholder="Pesquisa Rápida (ENTER)")
            h3 &nbsp;&nbsp;&nbsp;#[b Adicionar Registo] 
        
        form.w3-panel(method="POST")
            fieldset
                legend Novo Processo
                label #[b >  Id]
                input.w3-input.w3-round(type="text" name="_id")
                label #[b >  Description Level]
                input.w3-input.w3-round(type="text" name="DescriptionLevel")
                label #[b >  Entity Type]
                input.w3-input.w3-round(type="text" name="EntityType")
                label #[b >  Complete UnitId]
                input.w3-input.w3-round(type="text" name="CompleteUnitId")
                label #[b >  Unit Id]
                input.w3-input.w3-round(type="text" name="UnitId")
                label #[b >  Repository Code]
                input.w3-input.w3-round(type="text" name="RepositoryCode")
                label #[b >  Country Code]
                input.w3-input.w3-round(type="text" name="CountryCode")
                label #[b >  Unit Title Type]
                input.w3-input.w3-round(type="text" name="UnitTitleType")
                label #[b >  Unit Title]
                input.w3-input.w3-round(type="text" name="UnitTitle")
                label #[b >  Alternative Title]
                input.w3-input.w3-round(type="text" name="AlternativeTitle")
                label #[b >  Normalized Forms Name]
                input.w3-input.w3-round(type="text" name="NormalizedFormsName")
                label #[b >  Other Forms Name]
                input.w3-input.w3-round(type="text" name="OtherFormsName")
                label #[b >  Unit Date Initial]
                input.w3-input.w3-round(type="text" name="UnitDateInitial")
                label #[b >  Unit Date Final]
                input.w3-input.w3-round(type="text" name="UnitDateFinal")
                label #[b >  Unit Date Initial Certainty]
                input.w3-input.w3-round(type="text" name="UnitDateInitialCertainty")
                label #[b >  Unit Date Final Certainty]
                input.w3-input.w3-round(type="text" name="UnitDateFinalCertainty")
                label #[b >  Allow Unit Dates Inference]
                input.w3-input.w3-round(type="text" name="AllowUnitDatesInference")
                label #[b >  Accumulation Dates]
                input.w3-input.w3-round(type="text" name="AccumulationDates")
                label #[b >  Unit Date Bulk]
                input.w3-input.w3-round(type="text" name="UnitDateBulk")
                label #[b >  Unit Date Notes]
                input.w3-input.w3-round(type="text" name="UnitDateNotes")
                label #[b >  Dimensions]
                input.w3-input.w3-round(type="text" name="Dimensions")
                label #[b >  Allow Extents Inference]
                input.w3-input.w3-round(type="text" name="AllowExtentsInference")
                label #[b >  Repository]
                input.w3-input.w3-round(type="text" name="Repository")
                label #[b >  Producer]
                input.w3-input.w3-round(type="text" name="Producer")
                label #[b >  Author]
                input.w3-input.w3-round(type="text" name="Author")
                label #[b >  Material Author]
                input.w3-input.w3-round(type="text" name="MaterialAuthor")
                label #[b >  Contributor]
                input.w3-input.w3-round(type="text" name="Contributor")
                label #[b >  Recipient]
                input.w3-input.w3-round(type="text" name="Recipient")
                label #[b >  Biog Hist.]
                input.w3-input.w3-round(type="text" name="BiogHist")
                label #[b >  Geog. Name]
                input.w3-input.w3-round(type="text" name="GeogName")
                label #[b >  Legal Status]
                input.w3-input.w3-round(type="text" name="LegalStatus")
                label #[b >  Functions]
                input.w3-input.w3-round(type="text" name="Functions")
                label #[b >  Authorities]
                input.w3-input.w3-round(type="text" name="Authorities")
                label #[b >  Internal Structure]
                input.w3-input.w3-round(type="text" name="InternalStructure")
                label #[b >  General Context]
                input.w3-input.w3-round(type="text" name="GeneralContext")
                label #[b >  Custod. Hist.]
                input.w3-input.w3-round(type="text" name="CustodHist")
                label #[b >  Acq. Info]
                input.w3-input.w3-round(type="text" name="AcqInfo")
                label #[b >  Classifier]
                input.w3-input.w3-round(type="text" name="Classifier")
                label #[b >  Scope Content]
                input.w3-input.w3-round(type="text" name="ScopeContent")
                label #[b >  Terms]
                input.w3-input.w3-round(type="text" name="Terms")
                label #[b >  Documental Tradition]
                input.w3-input.w3-round(type="text" name="DocumentalTradition")
                label #[b >  Documental Typology]
                input.w3-input.w3-round(type="text" name="DocumentalTypology")
                label #[b >  Marks]
                input.w3-input.w3-round(type="text" name="Marks")
                label #[b >  Monograms]
                input.w3-input.w3-round(type="text" name="Monograms")
                label #[b >  Stamps]
                input.w3-input.w3-round(type="text" name="Stamps")
                label #[b >  Inscriptions]
                input.w3-input.w3-round(type="text" name="Inscriptions")
                label #[b >  Signatures]
                input.w3-input.w3-round(type="text" name="Signatures")
                label #[b >  Appraisal]
                input.w3-input.w3-round(type="text" name="Appraisal")
                label #[b >  Appraisal Elimination]
                input.w3-input.w3-round(type="text" name="AppraisalElimination")
                label #[b >  Appraisal Elimination Date]
                input.w3-input.w3-round(type="text" name="AppraisalEliminationDate")
                label #[b >  Accruals]
                input.w3-input.w3-round(type="text" name="Accruals")
                label #[b >  Arrangement]
                input.w3-input.w3-round(type="text" name="Arrangement")
                label #[b >  Access Restrict]
                input.w3-input.w3-round(type="text" name="AccessRestrict")
                label #[b >  Use Restrict]
                input.w3-input.w3-round(type="text" name="UseRestrict")
                label #[b >  Phys. Loc.]
                input.w3-input.w3-round(type="text" name="PhysLoc")
                label #[b >  Original Numbering]
                input.w3-input.w3-round(type="text" name="OriginalNumbering")
                label #[b >  Previous Loc.]
                input.w3-input.w3-round(type="text" name="PreviousLoc")
                label #[b >  Lang. Material]
                input.w3-input.w3-round(type="text" name="LangMaterial")
                label #[b >  Phys. Tech.]
                input.w3-input.w3-round(type="text" name="PhysTech")
                label #[b >  Other Find Aid]
                input.w3-input.w3-round(type="text" name="OtherFindAid")
                label #[b >  Container Type Term]
                input.w3-input.w3-round(type="text" name="ContainerTypeTerm")
                label #[b >  Originals Loc.]
                input.w3-input.w3-round(type="text" name="OriginalsLoc")
                label #[b >  Alt. Form Avail.]
                input.w3-input.w3-round(type="text" name="AltFormAvail")
                label #[b >  Related Material]
                input.w3-input.w3-round(type="text" name="RelatedMaterial")
                label #[b >  Note]
                input.w3-input.w3-round(type="text" name="Note")
                label #[b >  Allow Textual Content Inference]
                input.w3-input.w3-round(type="text" name="AllowTextualContentInference")
                label #[b >  Textual Content]
                input.w3-input.w3-round(type="text" name="TextualContent")
                label #[b >  Retention Disposal Document State]
                input.w3-input.w3-round(type="text" name="RetentionDisposalDocumentState")
                label #[b >  Apply Selection Table]
                input.w3-input.w3-round(type="text" name="ApplySelectionTable")
                label #[b >  Retention Disposal Policy]
                input.w3-input.w3-round(type="text" name="RetentionDisposalPolicy")
                label #[b >  Retention Disposal Reference]
                input.w3-input.w3-round(type="text" name="RetentionDisposalReference")
                label #[b >  Retention Disposal Classification]
                input.w3-input.w3-round(type="text" name="RetentionDisposalClassification")
                label #[b >  Retention Disposal Period]
                input.w3-input.w3-round(type="text" name="RetentionDisposalPeriod")
                label #[b >  Retention Disposal Apply Date]
                input.w3-input.w3-round(type="text" name="RetentionDisposalApplyDate"  )
                label #[b >  Retention Disposal Final Destination]
                input.w3-input.w3-round(type="text" name="RetentionDisposalFinalDestination")
                label #[b >  Retention Disposal Observations]
                input.w3-input.w3-round(type="text" name="RetentionDisposalObservations")
                label #[b >  Desc. Rules]
                input.w3-input.w3-round(type="text" name="DescRules")
                label #[b >  Revised]
                input.w3-input.w3-round(type="text" name="Revised")
                label #[b >  Published]
                input.w3-input.w3-round(type="text" name="Published")
                label #[b >  Available]
                input.w3-input.w3-round(type="text" name="Available")
                label #[b >  Highlighted]
                input.w3-input.w3-round(type="text" name="Highlighted")
                label #[b >  Creator]
                input.w3-input.w3-round(type="text" name="Creator")
                label #[b >  Created]
                input.w3-input.w3-round(type="text" name="Created")
                label #[b >  Username]
                input.w3-input.w3-round(type="text" name="Username")
                label #[b >  Process Info Date]
                input.w3-input.w3-round(type="text" name="ProcessInfoDate")
                label #[b >  Other Descriptive Data]
                input.w3-input.w3-round(type="text" name="OtherDescriptiveData")
            
            .w3-panel
                .w3-cell-row
                    .w3-cell              
                        button.w3-btn.w3-pale-blue.w3-mb-2.w3-border.w3-border-black.w3-hover-blue(type="submit")
                            .w3-cell
                                i.fa.fa-sharp.fa-solid.fa-check.fa-lg
                            .w3-cell(style="width:84%")
                                h5  &nbsp;&nbsp;#[b Criar]
                    .w3-cell(style="width:91%")
                        a.w3-btn.w3-pale-red.w3-mb-2.w3-hover-red.w3-border.w3-border-black(type="submit" href="/retrieveAll")
                                .w3-cell
                                    i.fa.fa-solid.fa-arrow-left.fa-lg
                                .w3-cell(style="width:84%")
                                    h5  &nbsp;&nbsp;#[b Voltar Atrás]
        footer.w3-container.w3-purple.w3-center
            h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
            h5 Generated for TP_EngWeb2023 in #{d}
        script.
            //pesquisa_rapida
            document.getElementById('pesquisa_rapida').addEventListener('keyup', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    var input = document.getElementById('pesquisa_rapida');
                    var p = input.value;
                    window.location.href = '/pesquisaRapida/' + p;
                }
            }); 