extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Comments List 
    .w3-container
      table.w3-table-all
        tr
          th Autor
          th Assunto
          th Description
          th Action
        each post in p.posts
            each comment in post.Comments
              tr
                td= comment.Autor
                td= comment.Assunto
                td= comment.Description
                td 
                  button.w3-btn.w3-round.w3-indigo.w3-margin-right  
                    a(href="/posts/deleteComment/"+post._id+"?Autor="+comment.Autor+"&Assunto="+comment.Assunto+"&Description="+comment.Description) Delete Comment
              
    footer.w3-container.w3-teal
      h5 Generated for TP_EngWeb2023 in #{d}
    