extends layout

block append head
	title Inquirição de Génere

block content
	link(rel="stylesheet" href="/stylesheets/style.css")
	.w3-card-4(style="height: 10%")
		header.w3-container.w3-light-blue
			h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
		
		.w3-container.w3-cell.w3-border.w3-light-grey(style="width:50%; height: 80%")
			h3 Este site foi desenvolvido no âmbito do Trabalho Prático da Unidade Curricular de Engenharia Web da Licenciatura em Engenharia Informática, no ano letivo 2022/2023.
			h3 Explore uma base de dados composta por processos de Justificação de Fraternidade que são requeridos quando há, na família, alguém ordenado e com inquirição de genere elaborada e concluída.
			h3 Registe-se para consultar, fazer #[i posts], comentar os processos e/ou sugerir alterações.
			h3 Administradores podem também acrescentar registos, editá-los e gerir todos estes.
		
		.w3-container.w3-cell.w3-border.w3-light-grey(style="width:50%; height: 80%")
			form.w3-container(action="/login" method="POST")
				fieldset 
						legend Fazer Login: 
						label #[b > Username]
						input.w3-input(type="text" name="username")
						label #[b > Password]
						.w3-cell-row
							.w3-cell
								input.w3-input.w3-border(type="password" name="password" id="currPass")
							.w3-cell
								i.fa.fa-sharp.fa-regular.fa-eye.fa-2xs(style="color: #97a0af;margin-left: -30px;cursor: pointer;" onclick="showPass()")
				br
				.w3-panel              
					button.w3-btn.w3-pale-green.w3-mb-2.w3-border.w3-border-black.w3-hover-green(type="submit")
						.w3-cell
							i.fa.fa-sharp.fa-solid.fa-right-to-bracket.fa-lg
						.w3-cell(style="width:84%")
							h5  &nbsp;&nbsp;#[b Efetuar Login]
					 
		footer.w3-container.w3-light-blue.w3-center
			h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
			h5 Generated for TP_EngWeb2023 in #{d}
		script.
			function showPass() {
				var x = document.getElementById("currPass");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}