extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
      h2 Criar Novo Utilizador
    form.w3-container(action="/register" method="POST")
        fieldset 
            legend Insira a informação:
            label #[b Nome] 
            input.w3-input.w3-border(type="text" name="name")
            label #[b Username]
            input.w3-input.w3-border(type="text" name="username")
            label #[b Password]
            //.w3-container
            input.w3-input.w3-border(type="password" name="password")
            //i.fa.fa-sharp.fa-regular.fa-eye.fa-2xs(style="color: #97a0af;margin-left: 30px;cursor: pointer;")
            label #[b Nível de Utilizador]
            select.w3-select.w3-border(name="level")
                option("") Escolha um nível...
                        option(value="Admin") Admin
                        option(value="User") User
        button.w3-btn.w3-blue.w3-mb-2.w3-large(type="submit") #[b Criar]
    footer.w3-container.w3-teal
      h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
      h5 Generated for TP_EngWeb2023 in #{d}