extends layout

block content
	.w3-card-4
		header.w3-container.w3-purple
				h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
				.w3-cell-row
					.w3-cell
						h2 Editar Utilizador #{u}
					.w3-cell(style="width:16%") 
						h3
							a(href="/adminUsers")
								button.w3-btn.w3-pale-red.w3-border.w3-border-black.w3-hover-red
									//i.fa.fa-regular.fa-arrow-left-to-line(style="color: #000000;margin-right: 30px;")
									.w3-cell-row
										.w3-cell
											i.fa.fa-solid.fa-arrow-left(style="color: #000000;")
										.w3-cell(style="width:84%")
											h3 &nbsp;&nbsp; #[b Voltar atrás]
		form.w3-container(method="POST")
				fieldset
						legend User #{u}
						label #[b > Username]
						input.w3-input.w3-round(type="text" name="username" readonly value=u)
						label #[b > Nome]
						input.w3-input.w3-round(type="text" name="name")
						label #[b > Nível de Utilizador]
						select.w3-select.w3-border(name="level")
								option("") Escolha um nível...
									option(value="Admin") Admin
									option(value="User") User
						.w3-panel              
							button.w3-btn.w3-pale-green.w3-mb-2.w3-hover-green.w3-border.w3-border-black(type="submit")
								.w3-cell
									i.fa.fa-solid.fa-check.fa-lg
								.w3-cell(style="width:84%")
									h5  &nbsp;&nbsp;Guardar Alterações

		footer.w3-container.w3-purple
			h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
			h5 Generated for TP_EngWeb2023 in #{d}